﻿@Styles.Render("~/Content/kendo/css")
@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/kendo")
@using TelerikMvcApp1.Models;
@model TelerikMvcApp1.Models.Config

@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
<script id="tagTemplate" type="text/x-kendo-template">
    # if (values.indexOf(0) !== -1 || values.indexOf(null) !== -1) { #
    All Selected
    # } else { #
    #:values.length# item(s) selected
    # } #
</script>

<style>
    .spanStyle {
        font-weight: bold;
    }

    ul {
        vertical-align: top;
    }

    .k-button {
        height: 25px;
        font-size: 11px;
        vertical-align: bottom;
        border-radius: 5px;
    }

    .k-multiselect-wrap li span {
        margin-right: 0px;
    }

    .k-multiselect-wrap {
        height: 25px;
        min-height: 25px;
    }

    .k-menu .k-item .k-link {
        position: center;
        vertical-align: top;
        padding: 20px 20px 20px 20px;
    }

    i.t-font-icon {
        height: 100%;
    }

    a.k-link {
        vertical-align: top;
        height: 12px;
    }

    input {
        vertical-align: text-top;
        width: 100%;
        height: 100%;
    }

    span.k-link {
        height: 12px;
    }

    span.k-i-arrow-60-down {
        vertical-align: top;
        align-items: flex-start;
    }

    i {
        vertical-align: top;
        height: 12px;
    }

  .k-i-calendar {
    /*width: 10px;
    height: 10px;
    background: red;*/
    margin: 0 3px;
}


.k-picker-wrap .k-input {
    height: 1.7em;
    line-height: 1.7em;
  min-height: 1.7em;
  font-size: 85%;
}

    .k-picker-wrap {
      height: 1.7em;
    }

        .k-picker-wrap .k-select {
            height: 1.7em;
            min-height: 1.7em;
            line-height: 1.7em;
        }

    /*input[type="radio"] {
        -webkit-appearance: none;
        box-sizing: border-box;
    }*/





</style>

<div style="background-color:lightblue;vertical-align:top;" id="FiltersDiv">
    <table>
        <tr>

            <td>
                <div style="text-wrap: none;" align="center">
                    @Html.Label("Facility", new { id = "FacilityId", @class = "spanStyle" })
                    <div style="width:200px;"> <select id="selFacilityId" data-placeholder="Select"></select></div>
                </div>
            </td>

            <td>
                <div style="text-wrap: none;" align="center">
                    @Html.Label("Routing", new { id = "RoutingId", @class = "spanStyle" })
                    <div style="width:200px;"><select id="selRoutingId" data-placeholder="Select"></select></div>
                </div>
            </td>

            <td>
                <div style="text-wrap: none;" align="center">
                    @Html.Label("ChartType", new { id = "ChartTypeId", @class = "spanStyle" })
                    <div style="width:200px;"><select id="selChartTypeId" data-placeholder="Select"></select></div>
                </div>
            </td>
     

            <td id="CoderTd">
                <div style="text-wrap: none;" align="center">
                    @Html.Label("Coder", new { id = "CoderId", @class = "spanStyle" })
                    <div style="width:200px;"><select id="selCoderId" data-placeholder="Select"></select></div>
                </div>
            </td>

            <td id="startDate" style="align-items:flex-start" >
                <div style="text-wrap: none;" align="center">
                    @Html.Label("Start Date", new { id = "Startdt", @class = "spanStyle" })
                    <div>
                        @(Html.Kendo().DatePicker()
                     .Name("StartDateId")
                     .HtmlAttributes(new { style = "width:75% ", title = "Start Date" })
                        )
                        </div>
                    </div>
            </td>
          
            <td id="EndDate" style="align-items:flex-start">
                <div style="text-wrap: none;" align="center">
                    @Html.Label("End Date", new { id = "EndDt", @class = "spanStyle" })
                    <div>
                    @(Html.Kendo().DatePicker()
                     .Name("EndDateId")
                     .HtmlAttributes(new { style = "width: 75%", title = "End Date" })
                    )
                </div>
                    </div>
            </td>


            <td style="vertical-align:bottom;">
                <div>
                    <button class="k-button" style="vertical-align:baseline;width: 100px;height:25px" onclick="fnViewReport2();">View</button>
                </div>
            </td>
           </tr>
        <tr id="RowGroupby">
            <td id="Groupby" colspan="9">
                <table style="text-wrap: none;" align="center">
                    <tr nowrap="nowrap" style="text-align:left">
                        <td>
                            @Html.Label("Groupby", new { id = "LblGroupby", @class = "spanStyle" })
                        </td>
                        <td style="width:140px;">
                            <input type="radio" name="GrpByClassified" value="1" checked="checked" id="RdNumber" style="min-height:15px; width:20px;"><label for="radiobutton">Number</label>
                            <input type="text" id="NumberEdId" style="width:50px" />

                        </td>
                        <td style="width:200px;">
                            <input type="radio" name="GrpByClassified" value="2" id="RdTimeFrame" style="min-height:15px;width:20px;"><label for="radiobutton">TimeFrame</label>
                            <select id="SelTimeFrameId">
                                <option selected>Select</option>
                                <option>WEEK</option>
                                <option>Month</option>
                                <option>Quarter</option>
                                <option>YEAR</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        @*<tr id="RowGroupby">
            <td id="Groupby" colspan="9">
                <div style="text-wrap: none;" align="center">
                  
                    <table>
                        <tr> 
                            <td>
                                @Html.Label("Groupby", new { id = "LblGroupby", @class = "spanStyle" })
                            </td>                            
                            <td>
            <input type="radio" name="GrpByClassified" value="1" checked id="RdNumber" style="height:15px;"> <label for="radiobutton">Number</label><input type="text" id="NumberEdId" style="width:50px" />         
                        </td>
                            <td>
            <input type="radio" name="GrpByClassified" value="2" id="RdTimeFrame" style="height:15px;"><label for="radiobutton">TimeFrame</label> <select id="SelTimeFrameId"><option selected>Select</option> <option>Week</option>
                    <option>Month</option>
                    <option>Quarter</option>
                    <option>Year</option>
                </select>
        </td>
                          </tr>
                    </table>               
                </div>
            </td>
        </tr>*@


    </table>
    @Html.Hidden("HFacilityvalue")
    @Html.Hidden("HRoutingvalue")
    @Html.Hidden("HChartTypevalue")
    @Html.Hidden("HAssigneeValue")
    @Html.Hidden("HCoderValue")
    @Html.Hidden("HTimeFrameValue")
    @Html.Hidden("HOnOff_fn","1")
    <script>
        $(function () {
            $("#RowGroupby").hide();
            $("#SelTimeFrameId").hide();



              //  var multiselect = $("#selFacilityId").data('kendoMultiSelect');
              //  multiselect.wrapper.height(25);
              ///  multiselect.value(0);


                var szRouting = $('#selRoutingId').kendoMultiSelect({
                    autoBind: false,
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("Routing_Read", "Home")',
                                dataType: "json",
                                data:{strNeedAllOrNot:"1"}
                            }
                        }
                    },
                    dataTextField: "RoutingText",
                    dataValueField: "ChartRoutingKey",
                    select:selectChartRoutingKeyItemAll,
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "multiple",
                    maxSelectedItems: 1,
                    filter: "contains",
                    autoWidth: true,
                    autoClose:false,
                   // tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");

                //var Routemultiselect = $("#selRoutingId").data('kendoMultiSelect');
                //Routemultiselect.value(0);

                var szChartType = $('#selChartTypeId').kendoMultiSelect({
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("ChartType_Read", "Home")',
                                dataType: "json",
                                data:{strType:"2"}
                            }
                        }
                    },
                    select: selectChartTypeKeyItemAll,
                    dataTextField: "ChartTypeText",
                    dataValueField: "ChartTypeKey",
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    autoWidth: true,
                    autoClose:false,
                   //tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");

                //var Chartmultiselect = $("#selChartTypeId").data('kendoMultiSelect');
                //Chartmultiselect.value(0);



                var szCoder = $('#selCoderId').kendoMultiSelect({
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("Coder_Read", "Home")',
                                dataType: "json"
                            }
                        }
                    },
                    select: selectCoderItemAll,
                    dataTextField: "DISPLAY_NAME",
                    dataValueField: "Personnal_ID",
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    autoWidth: true,
                    autoClose:false,
                    tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");

           //     var Codermultiselect = $("#selCoderId").data('kendoMultiSelect');
            //    Codermultiselect.value(0);

                var selectItem = function(ms) {
                    var dataItem = ms.dataSource.view()[0];
                    var value = ms.value();
                    if (dataItem) {
                        value.push(dataItem.value);
                        ms.value(value);
                    }
                }


                szFacility.bind("blur", fncloseMultiselect);
                szRouting.bind("blur", fncloseMultiselect);
                szChartType.bind("blur", fncloseMultiselect);

            });

            function fncloseMultiselect() {
                $("#selFacility").data("kendoMultiSelect").close();
                $("#selRoutingId").data("kendoMultiSelect").close();
                $("#selChartTypeId").data("kendoMultiSelect").close();

            }

            var szFacility = $('#selFacilityId').kendoMultiSelect({
                autoBind: false,
                dataSource: {
                    transport: {
                        read: {

                            type: "POST",
                            url: '@Url.Action("Facility_Read", "Home")',
                            dataType: "json",
                            data:{strReportType:@ViewBag.ReportType}
                        }
                    }
                },
                select: selectFacilityKeyItemAll,
                change:Facility_Coder_change,
                dataTextField: "FacilityName",
                dataValueField: "FacilityKey",
                placeHolder: "Select",
                tagMode: "single",
                filter: "contains",
                height: 350,
                width: 200,
                autoWidth:true,
                autoClose:false,
                tagTemplate: kendo.template($("#tagTemplate").html()),
            }).data("kendoMultiSelect");

            $("#RdNumber").click(SetHideShow);
            $("#RdTimeFrame").click(SetHideShow);

            function SetHideShow() {
                var num = $('#RdNumber:checked').val();
                var time= $('#RdTimeFrame:checked').val();
                if(num=="1")
                {
                    $("#NumberEdId").show();
                    $("#SelTimeFrameId").hide();
                }
               else if(time=="2")
               {
                   $("#SelTimeFrameId").show();
                   $("#NumberEdId").hide();
                }

            }

            function selectFacilityKeyItemAll(e) {
                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allFacility = "";

                if (e.item.text() === "- ALL -") {
                    if (e.dataItem.FacilityKey == 0)
                    {
                        allFacility = $.map(this.dataSource.data(), function (dataItem) {
                            return dataItem.FacilityKey != 0? dataItem.FacilityKey:"";

                        });}
                    this.value("");
                    $("#HFacilityvalue").val(allFacility);


                    //if (allFacility.length > 1) {
                    //    for (i = 0; i < allFacility.length; i++) {
                    //        if (allFacility[i] != 0) {
                    //            if ($('#HFacilityvalue').val() == "") {
                    //                szvalue = allFacility[i];
                    //                $("#HFacilityvalue").val(szvalue);
                    //            }
                    //            else {
                    //                szvalue = allFacility[i];
                    //                $("#HFacilityvalue").val($('#HFacilityvalue').val() + "," + szvalue);
                    //            }
                    //        }
                    //    }
                    //}
                }
                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });

                    if (e.dataItem.FacilityKey != 0) {
                        selectvalues = e.dataItem.FacilityKey;
                        var h = $('#HFacilityvalue').val();
                        var arrayval = h.split(",");
                        for (j = 0; j < arrayval.length; j++) {
                            if (arrayval[j] == selectvalues)
                            { $('#HFacilityvalue').val("") }
                        }
                        if ($('#HFacilityvalue').val() == "") {
                            $("#HFacilityvalue").val(selectvalues);
                        }
                        else {
                            $("#HFacilityvalue").val($('#HFacilityvalue').val() + "," + selectvalues);
                        }
                    }
                   this.value(values);
                }

            }

            function selectChartRoutingKeyItemAll(e)
            {

                    if (e.dataItem.ChartRoutingKey != 0)
                    {
                        var selectvalues = e.dataItem.ChartRoutingKey;
                        var h = $('#HRoutingvalue').val();
                        var arrayval = h.split(",");
                        for (j = 0; j < arrayval.length; j++)
                        {
                            if (arrayval[j] == selectvalues)
                            { $('#HRoutingvalue').val("") }
                        }
                            $("#HRoutingvalue").val(selectvalues);
                    }

                }

            function selectChartTypeKeyItemAll(e) {

                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allChartType = "";
                if (e.item.text() === "- ALL -") {

                    var fileds = this.dataSource.options.fields[1];
                    allChartType = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.ChartTypeKey

                    });
                    this.value("");
                    $("#HChartTypevalue").val(allChartType);
                    //if (allChartType.length > 1) {
                    //    for (i = 0; i < allChartType.length; i++) {
                    //        if (allChartType[i] != 0) {
                    //            if ($('#HChartTypevalue').val() == "") {
                    //                szvalue = allChartType[i];
                    //                $("#HChartTypevalue").val(szvalue);
                    //            }
                    //            else {
                    //                szvalue = allChartType[i];
                    //                $("#HChartTypevalue").val($('#HChartTypevalue').val() + "," + szvalue);
                    //            }
                    //        }
                    //    }
                    //}
                }
                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });
                    if (e.dataItem.ChartTypeKey != 0) {
                        var selectvalues = e.dataItem.ChartTypeKey;
                        var h = $('#HChartTypevalue').val();
                        var arrayval = h.split(",");
                        for (j = 0; j < arrayval.length; j++) {
                            if (arrayval[j] == selectvalues)
                            { $('#HChartTypevalue').val("") }
                        }
                        if ($('#HChartTypevalue').val() == "") {
                            $("#HChartTypevalue").val(selectvalues);
                        }
                        else {
                            $("#HChartTypevalue").val($("#HChartTypevalue").val() + "," + selectvalues)
                        }

                    }
                    this.value(values);
                }

            }

            function selectCoderItemAll(e) {

                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allCoder = "";
                $("#HOnOff_fn").val("0");
                if (e.item.text() === "- ALL -") {
                    allCoder = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.Personnal_ID
                    });
                    this.value("");
                    $("#HCoderValue").val(allCoder);
                    //if (allCoder.length > 1) {
                    //    for (i = 0; i < allCoder.length; i++) {
                    //        if (allCoder[i] != 0) {
                    //            if ($('#HCoderValue').val() == "") {
                    //                szvalue = allCoder[i];
                    //                $("#HCoderValue").val(szvalue);
                    //            }
                    //            else {
                    //                szvalue = allCoder[i];
                    //                $("#HCoderValue").val($('#HCoderValue').val() + "," + szvalue);
                    //            }
                    //        }
                    //    }
                    //}
                }

                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });
                    if (e.dataItem.Personnal_ID != 0) {
                        var selectvalues = e.dataItem.Personnal_ID;
                        var h = $('#HCoderValue').val();
                        var arrayval = h.split(",");
                        for (j = 0; j < arrayval.length; j++) {
                            if (arrayval[j] == selectvalues)
                            { $('#HCoderValue').val("") }
                        }
                        if ($('#HCoderValue').val() == "") {
                            $("#HCoderValue").val(selectvalues);
                        }
                        else {
                            $("#HCoderValue").val($("#HCoderValue").val() + "," + selectvalues)
                        }

                    }

                    this.value(values);
                }

            }

            function clearMultiSelect() {
                var multiselect = $("#selCoderId").data("kendoMultiSelect");
                multiselect.value("");
                multiselect.trigger("change");
            }

            function Facility_Coder_change(e) {
                var SelectValues = "";
                value = this.value();
                    for (k = 0; k < value.length; k++) {
                        if (SelectValues == "") {
                            SelectValues = value[k];
                        }
                        else
                            SelectValues = SelectValues + "," + value[k];
                    }
                    $.ajax({
                        url: "@(Url.Action("Coder_Read", "Home"))",
                        type: "POST",
                        data: { strFacilityId: SelectValues },
                        dataType: "json",
                        cache: false,
                        success: function (data1) {
                            if ($("#selCoderId").data("kendoMultiSelect")) {
                                //var raw = $("#selCoderId").data("kendoMultiSelect").dataSource.data();
                                //var length = raw.length;
                                //var item, i;
                                //for (i = length - 1; i >= 0; i--)
                                //{
                                //    item = raw[i];
                                //    $("#selCoderId").data("kendoMultiSelect").dataSource.remove(item);
                                //}


                                var newDataSource = new kendo.data.DataSource({
                                    data: []
                                });
                                $("#selCoderId").data("kendoMultiSelect").setDataSource(newDataSource);

                                var newDataSource1 = new kendo.data.DataSource({
                                    data: data1
                                });
                                $("#selCoderId").data("kendoMultiSelect").setDataSource(newDataSource1);
                                //for (i = 0; i < data1.length; i++)
                                //{
                                //    $("#selCoderId").data("kendoMultiSelect").dataSource.add({ Personnal_ID: data1[i].Personnal_ID, DISPLAY_NAME: data1[i].DISPLAY_NAME });
                                //}

                            }
                            else{alert("does not exists")}
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        }
                    });
                }



            function fnViewReport2()
            {

                var facilityvalues = $("#HFacilityvalue").val();
                var Routingvalues = $("#HRoutingvalue").val();
                var charttype = $("#HChartTypevalue").val();
                var Coder = $("#HCoderValue").val();
                var startdate=$("#StartDateId").val();
                var enddate=$("#EndDateId").val();

                var seltimeframe= $("#SelTimeFrameId option:selected").text();
              //  var TimeFrameValue= $("#HTimeFrameValue").val();
                var NumberValue=$("#NumberEdId").val();

               var ArrayFacilityvalues = facilityvalues.split(",");
                var ArrayRoutingvalues = Routingvalues.split(",");
                var Arraycharttypevalues = charttype.split(",");
                var ArrayCodervalues = Coder.split(",");

                var szgroupmode="";
                debugger;

                 var rdnumber= $("#RdNumber").val();
                 var rdTimeFrame=$("#RdTimeFrame").val();

                 if($("#RdNumber").is(':checked'))
                 {
                     szgroupmode=rdnumber;
                     $('#SelTimeFrameId').val('0');
                     $('#SelTimeFrameId option:contains("Select")').prop('selected',true);
                     if(NumberValue=="")
                     {
                         NumberValue=null;
                     }
                     rdTimeFrame="0";
                 }

                 if($("#RdTimeFrame").is(':checked'))
                 {
                     szgroupmode=rdTimeFrame;
                     $("#NumberEdId").val("");
                     rdnumber="0";
                 }


                var sznull="";
                var szzero="0";
                ArrayFacilityvalues = ArrayFacilityvalues.filter(function(item) {
                    return item !==sznull
                })

                ArrayRoutingvalues = ArrayRoutingvalues.filter(function(item) {
                    return item !==sznull
                })

                Arraycharttypevalues = Arraycharttypevalues.filter(function(item) {
                    return item !==sznull
                })

                Arraycharttypevalues = Arraycharttypevalues.filter(function(item) {
                    return item !==szzero
                })

                ArrayCodervalues = ArrayCodervalues.filter(function(item) {
                    return item !==szzero
                })


  if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "" && ArrayCodervalues[0]!="")
{
    var szInorOut="@ViewBag.InorOut";
    var szTrendingReport="@ViewBag.TrendingYesorNot";
    var viewer = $("#reportViewer1").data("telerik_ReportViewer");
    //viewer.show();
    $("#mainDiv").show();
    if(szInorOut=="In")
    {szInorOut="Inpatient";}

    if(szInorOut=="Out")
    {szInorOut="-1";}


    if(szInorOut=="Inpatient")
    {
        if(szTrendingReport=="Yes")
        {
            if(seltimeframe!="Select" && rdTimeFrame=="2" && rdnumber=="0")
                viewer.reportSource({
                    report: viewer.reportSource().report,
                    parameters: {'FacilityName': ArrayFacilityvalues,'Routing': Routingvalues,'ChartTypeName':szInorOut,'ChartType': charttype,'UserId':@ViewBag.userid,'Coder':ArrayCodervalues,'IcdType':'2','Startdate':startdate,'EndDate':enddate,'GroupMode':szgroupmode,'TimeFrame':seltimeframe}
                });
            if(NumberValue!="" && rdTimeFrame=="0" && rdnumber=="1")
                viewer.reportSource({
                    report: viewer.reportSource().report,
                    parameters: {'FacilityName': ArrayFacilityvalues,'Routing': Routingvalues,'ChartTypeName':szInorOut,'ChartType': charttype,'UserId':@ViewBag.userid,'Coder':ArrayCodervalues,'IcdType':'2','Startdate':startdate,'EndDate':enddate,'GroupMode':szgroupmode,'NumberofCharts':NumberValue}
                });

        }
        else
        {
            viewer.reportSource({
                report: viewer.reportSource().report,
                parameters: {'FacilityName': ArrayFacilityvalues,'Routing': Routingvalues,'ChartTypeName':szInorOut,'ChartType': charttype,'UserId':@ViewBag.userid,'Coder':ArrayCodervalues,'IcdType':'2','Startdate':startdate,'EndDate':enddate}
            });
        }
    }
    else
    {
     if(szTrendingReport=="Yes")
        {
            if(seltimeframe!="Select" && rdTimeFrame=="2" && rdnumber=="0")
                viewer.reportSource({
                    report: viewer.reportSource().report,
                    parameters: {'FacilityName': ArrayFacilityvalues,'Routing': Routingvalues,'ChartTypeName':szInorOut,'ChartType': Arraycharttypevalues,'UserId':@ViewBag.userid,'Coder':ArrayCodervalues,'IcdType':'2','Startdate':startdate,'EndDate':enddate,'GroupMode':szgroupmode,'TimeFrame':seltimeframe}
                });
            if(NumberValue!="" && rdTimeFrame=="0" && rdnumber=="1")
                viewer.reportSource({
                    report: viewer.reportSource().report,
                    parameters: {'FacilityName': ArrayFacilityvalues,'Routing': Routingvalues,'ChartTypeName':szInorOut,'ChartType': Arraycharttypevalues,'UserId':@ViewBag.userid,'Coder':ArrayCodervalues,'IcdType':'2','Startdate':startdate,'EndDate':enddate,'GroupMode':szgroupmode,'NumberofCharts':NumberValue}
                });

        }
        else
        {
            viewer.reportSource({
                report: viewer.reportSource().report,
                parameters: {'FacilityName': ArrayFacilityvalues,'Routing': Routingvalues,'ChartTypeName':szInorOut,'ChartType': Arraycharttypevalues,'UserId':@ViewBag.userid,'Coder':ArrayCodervalues,'IcdType':'2','Startdate':startdate,'EndDate':enddate}
            });
        }

    }
    viewer.refreshReport();
     }
else
{ alert("Invalid input values. Please provide valid inputs.") }
    }
   </script>

</div>
