﻿@Styles.Render("~/Content/kendo/css")
@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/kendo")
@using TelerikMvcApp1.Models;
@model TelerikMvcApp1.Models.Config

@*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
<script id="tagTemplate" type="text/x-kendo-template">
    # if (values.indexOf(0) !== -1 || values.indexOf(null) !== -1) { #
    All Selected
    # } else { #
    #:values.length# item(s) selected
    # } #
</script>

<style>
    .spanStyle {
        font-weight: bold;
    }
    ul{
        vertical-align:top;  
    }
    .k-button {
        height: 25px;
        font-size: 11px;
        vertical-align: bottom;
        border-radius: 5px;
    }

    .k-multiselect-wrap li span {
        margin-right: 0px;
    }

    .k-multiselect-wrap {
        height: 25px;
        min-height: 25px;
    }
   
    .k-menu .k-item .k-link
    {
        position:center;
         vertical-align:top;  
       padding: 20px 20px 20px 20px;
      
    }
     i.t-font-icon{height:100%;}
     a.k-link    
  {
      vertical-align:top;   
      height:12px;
  }
     input
  {
    vertical-align:text-top;
      width:100%;
      height:100%;
  }
  span.k-link
  {

      height:12px;
  }

  span.k-i-arrow-60-down{
      vertical-align:top;
     align-items:flex-start;
  }

 i{
     vertical-align:top;
     height:12px;
 }
 </style>





<div style="background-color:lightblue" id="FiltersDiv">
        <table>
            <tr>
                <td>
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("Facility", new { id = "FacilityId", @class = "spanStyle" })
                        <div style="width:200px;"> <select id="selFacilityId"></select></div>
                    </div>
                </td>

                <td>
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("Routing", new { id = "RoutingId", @class = "spanStyle" })
                        <div style="width:200px;"><select id="selRoutingId"></select></div>
                    </div>
                </td>

                <td>
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("ChartType", new { id = "ChartTypeId", @class = "spanStyle" })
                        <div style="width:200px;"><select id="selChartTypeId"></select></div>
                    </div>
                </td>

                <td id="AssigneeTd">
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("Assignee", new { id = "AssigneeId", @class = "spanStyle" })
                        <div style="width:200px;"><select id="selAssigneeId"></select></div>
                    </div>
                </td>

                <td id="CoderTd">
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("Coder", new { id = "CoderId", @class = "spanStyle" })
                        <div style="width:200px;"><select id="selCoderId"></select></div>
                    </div>
                </td>

                <td id="LastDaysTd" style="vertical-align:middle">
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("LastDays", new { id = "LastDaysId", @class = "spanStyle" })
                        <div>
                            <input type="text" id="InputLastDays" value="7"/>
                        </div>
                    </div>
                </td>

                <td id="DateStaleTd" style="vertical-align:middle">
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("DateStale", new { id = "DateStaleId", @class = "spanStyle" })
                        <div>
                            <input type="text" id="InputDateStale" value="30"/>
                        </div>
                    </div>
                </td>

                <td id="IsDaysOldTd" style="vertical-align:middle">
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("IsDaysOld", new { id = "IsDaysOldId", @class = "spanStyle" })
                        <div>
                            <input type="text" id="InputIsDaysOld" value="30"/>
                        </div>
                    </div>
                </td>

                <td style="vertical-align:bottom;">
                    <div>
                        <button class="k-button" style="vertical-align:baseline" onclick="fnViewReport2();">View</button>
                    </div>
                </td>

           </tr>
            <tr>
                <td id="TopRecords" style="vertical-align:middle">
                    <div style="text-wrap: none;" align="center">
                        @Html.Label("Top N Facilities", new { id = "TopNFacilityId", @class = "spanStyle" })
                        <div>
                            <input type="text" id="InputTopNFacility" value="10"/>
                        </div>
                    </div>
                </td>
            </tr>
            
   
                
                
                </table>
@Html.Hidden("HFacilityvalue")
@Html.Hidden("HRoutingvalue")
@Html.Hidden("HChartTypevalue")
@Html.Hidden("HAssigneeValue")
@Html.Hidden("HCoderValue")
@Html.Hidden("HflagInsertVsComplete")
@Html.Hidden("HInProgressByFacilities")

<script>
            $(function () {



                $("#AssigneeTd").css("display", "none");
                $("#CoderTd").css("display", "none");
                $("#DateStaleTd").css("display", "none");
                $("#IsDaysOldTd").css("display", "none");
                $("#LastDaysTd").css("display", "none");
                $("#TopRecords").css("display", "none");

                var szFacility = $('#selFacilityId').kendoMultiSelect({
                    autoBind: false,
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("Facility_Read", "Home")',
                                dataType: "json",
                                data:{strReportType:@ViewBag.ReportType}
                            }
                        }
                    },
                    select: selectFacilityKeyItemAll,
                    deselect: DeselectFacilityItem,
                    change: Facility_Coder_change,
                    dataTextField: "FacilityName",
                    dataValueField: "FacilityKey",
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    height: 350,
                    width: 200,
                    autoWidth:true,
                    autoClose: false,
                    tagTemplate: kendo.template($("#tagTemplate").html()),
                    value: [0]
                }).data("kendoMultiSelect");

                var multiselect = $("#selFacilityId").data('kendoMultiSelect');
                multiselect.wrapper.height(25);
                multiselect.value(0);


                var szRouting = $('#selRoutingId').kendoMultiSelect({
                    autoBind: false,
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("Routing_Read", "Home")',
                                dataType: "json",
                                data:{strNeedAllOrNot:"0"}
                            }
                        }
                    },
                    select: selectChartRoutingKeyItemAll,
                    deselect:DeselectRoutingItem,
                    change:OnchangeRouting,
                    dataTextField: "RoutingText",
                    dataValueField: "ChartRoutingKey",
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    autoWidth: true,
                    autoClose: false,
                    tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");
                var Routemultiselect = $("#selRoutingId").data('kendoMultiSelect');
                Routemultiselect.value(0);

                var szChartType = $('#selChartTypeId').kendoMultiSelect({
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("ChartType_Read", "Home")',
                                dataType: "json",
                                data:{strType:"1"}
                            }
                        }
                    },
                    select: selectChartTypeKeyItemAll,
                    deselect:DeselectChartItem,
                    dataTextField: "ChartTypeText",
                    dataValueField: "ChartTypeKey",
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    autoWidth: true,
                    autoClose: false,
                   tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");

                var Chartmultiselect = $("#selChartTypeId").data('kendoMultiSelect');
                Chartmultiselect.value(0);

                var szAssigneeId = $("#selAssigneeId").kendoMultiSelect({
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("Assignee_Read", "Home")',
                                dataType: "json"
                            }
                        },
                        serverFiltering: true
                    },
                    select: selectAssigneeItemAll,
                    deselect:DeselectAssigneeItem,
                    dataTextField: "FullName",
                    dataValueField: "AppUserKey",
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    autoWidth: true,
                    autoClose: false,
                    tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");

                var Assignemultiselect = $("#selAssigneeId").data('kendoMultiSelect');
                Assignemultiselect.value(0);

                var szCoder = $('#selCoderId').kendoMultiSelect({
                    dataSource: {
                        transport: {
                            read: {

                                type: "POST",
                                url: '@Url.Action("Coder_Read", "Home")',
                                dataType: "json"
                            }
                        }
                    },
                    select: selectCoderItemAll,
                    deselect:DeselectCoderItem,
                    change: Facility_Coder_change,
                    dataTextField: "DISPLAY_NAME",
                    dataValueField: "Personnal_ID",
                    height: 350,
                    placeHolder: "Select",
                    tagMode: "single",
                    filter: "contains",
                    autoWidth: true,
                    autoClose: false,
                    tagTemplate: kendo.template($("#tagTemplate").html()),
                }).data("kendoMultiSelect");

                var Codermultiselect = $("#selCoderId").data('kendoMultiSelect');
                Codermultiselect.value(0);

                var selectItem = function(ms) {
                    var dataItem = ms.dataSource.view()[0];
                    var value = ms.value();

                    if (dataItem) {
                        value.push(dataItem.value);
                        ms.value(value);
                    }
                }



                function loadFacility() {
                    $('#selFacility').data('kendoMultiSelect').dataSource.read();
                }



                szFacility.bind("blur", fncloseMultiselect);
                szRouting.bind("blur", fncloseMultiselect);
                szChartType.bind("blur", fncloseMultiselect);
                szAssigneeId.bind("blur", fncloseMultiselect);

            });

            function fncloseMultiselect() {
                $("#selFacility").data("kendoMultiSelect").close();
                $("#selRoutingId").data("kendoMultiSelect").close();
                $("#selChartTypeId").data("kendoMultiSelect").close();
                $("#selAssigneeId").data("kendoMultiSelect").close();
            }



            function selectFacilityKeyItemAll(e)
            {
                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allFacility = "";
                var tval=[];
                if (e.item.text() === "- ALL -") {
                    $("#HflagInsertVsComplete").val(1);
                    $("HInProgressByFacilities").val("1");
                    allFacility = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.FacilityKey;
                    });
                    $("#HFacilityvalue").val(allFacility);
                    this.value([]);
                }

                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });

                    if (e.dataItem.FacilityKey != 0)
                    {
                        selectvalues = e.dataItem.FacilityKey;
                        if ($('#HFacilityvalue').val() == "") {
                            $("#HFacilityvalue").val(selectvalues);
                        }
                        else {
                            tval=values;
                            tval.push(selectvalues);
                            $("#HFacilityvalue").val(tval);
                            values.pop(selectvalues);
                        }
                    }

                    this.value(values);
                }

            }

            function selectChartRoutingKeyItemAll(e) {
                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allRouting = "";
                var tval=[];
                if (e.item.text() === "- ALL -") {
                    var fileds = this.dataSource.options.fields[1];
                    $("HInProgressByFacilities").val("12");
                    allRouting = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.ChartRoutingKey
                    });
                    $("#HRoutingvalue").val(allRouting);
                    this.value([]);
                }
                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });

                    if (e.dataItem.ChartRoutingKey != 0) {
                        var selectvalues = e.dataItem.ChartRoutingKey;
                        if ($('#HRoutingvalue').val() == "") {
                            $("#HRoutingvalue").val(selectvalues);
                        }
                        else {
                            tval=values;
                            tval.push(selectvalues);
                            $("#HRoutingvalue").val(tval);
                            values.pop(selectvalues);
                        }
                    }
                    this.value(values);
                }
            }

            function selectChartTypeKeyItemAll(e) {
                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allChartType = "";
                var tval=[];
                if (e.item.text() === "- ALL -") {
                    var fileds = this.dataSource.options.fields[1];
                    $("HInProgressByFacilities").val("123");
                    allChartType = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.ChartTypeKey
                    });
                    $("#HChartTypevalue").val(allChartType);
                    this.value([]);
                }
                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1)
                {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });
                    if (e.dataItem.ChartTypeKey != 0)
                    {
                        var selectvalues = e.dataItem.ChartTypeKey;

                        if ($('#HChartTypevalue').val() == "") {
                            $("#HChartTypevalue").val(selectvalues);
                        }
                        else {
                            tval=values;
                            tval.push(selectvalues);
                            $("#HChartTypevalue").val(tval);
                            values.pop(selectvalues);
                        }

                    }
                    this.value(values);
                }

            }


            function Facility_Coder_change(e)
            {
                if ($("#AssigneeTd").is(":visible")) {
                    var ASelectValues = "";
                    value = this.value()
                    for (k = 0; k < value.length; k++) {
                        if (ASelectValues == "") {
                            ASelectValues = value[k];
                        }
                        else
                            ASelectValues = ASelectValues + "," + value[k];
                    }
                    $.ajax({
                        url: "@(Url.Action("Assignee_Read", "Home"))",
                        type: "POST",
                    data: { strFacilityId: ASelectValues },
                    dataType: "json",
                    cache: false,
                    success: function (data1) {
                        if ($("#selAssigneeId").data("kendoMultiSelect")) {
                            var newDataSource = new kendo.data.DataSource({
                                data: []
                            });
                            $("#selAssigneeId").data("kendoMultiSelect").setDataSource(newDataSource);
                            var newDataSource1 = new kendo.data.DataSource({
                                data: data1
                            });
                            $("#selAssigneeId").data("kendoMultiSelect").setDataSource(newDataSource1);
                        }
                        else{alert("does not exists")}
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            }


                if ($("#CoderTd").is(":visible"))
                {
                    var SelectValues = "";
                    value = this.value()
                    for (k = 0; k < value.length; k++) {
                        if (SelectValues == "") {
                            SelectValues = value[k];
                        }
                        else
                            SelectValues = SelectValues + "," + value[k];
                    }
                    $.ajax({
                        url: "@(Url.Action("Coder_Read", "Home"))",
                        type: "POST",
                    data: { strFacilityId: SelectValues },
                    dataType: "json",
                    cache: false,
                    success: function (data1) {
                        if ($("#selCoderId").data("kendoMultiSelect"))
                        {
                            var newDataSource = new kendo.data.DataSource({
                                data: []
                            });
                            $("#selCoderId").data("kendoMultiSelect").setDataSource(newDataSource);
                            var newDataSource1 = new kendo.data.DataSource({
                                data: data1
                            });
                            $("#selCoderId").data("kendoMultiSelect").setDataSource(newDataSource1);
                        }
                        else{alert("does not exists")}
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            }
            }

            function selectAssigneeItemAll(e) {

                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allAssignee = "";
                var tval=[];
                if (e.item.text() === "- ALL -") {

                    allAssignee = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.AppUserKey
                    });

                    $("#HAssigneeValue").val(allAssignee);
                    this.value([]);
                }
                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });
                    if (e.dataItem.AppUserKey != 0) {
                        var selectvalues = e.dataItem.AppUserKey;

                       if ($('#HAssigneeValue').val() == "") {
                            $("#HAssigneeValue").val(selectvalues);
                        }
                        else {
                           tval=values;
                           tval.push(selectvalues);
                           $("#HAssigneeValue").val(tval);
                           values.pop(selectvalues);
                        }

                    }
                    this.value(values);
                }

            }

            function selectCoderItemAll(e) {

                var dataItem = this.dataSource.view()[e.item.index()];
                var values = this.value();
                var allCoder = "";
                var tval=[];
                if (e.item.text() === "- ALL -") {
                    allCoder = $.map(this.dataSource.data(), function (dataItem) {
                        return dataItem.Personnal_ID
                    });

                    $("#HCoderValue").val(allCoder);
                    this.value([]);
                }

                else if (values.some(function (v) { return (v == null || v == 0); }) !== -1) {
                    values = $.grep(values, function (value) {
                        return value !== 0 && value !== null;
                    });
                    if (e.dataItem.Personnal_ID != 0) {
                        var selectvalues = e.dataItem.Personnal_ID;
                         if ($('#HCoderValue').val() == "") {
                            $("#HCoderValue").val(selectvalues);
                        }
                        else {
                             tval=values;
                             tval.push(selectvalues);
                             $("#HCoderValue").val(tval);
                             values.pop(selectvalues);
                        }

                    }
                    this.value(values);
                }

            }


          function fnGetAllDataOnload()
            {

        if ($('#selFacilityId').val()==0 && $("#HFacilityvalue").val()==""){
            var allFacility = "";
            $("#HflagInsertVsComplete").val(1);
           $("#HInProgressByFacilities").val("1");
            var dataItem = $("#selFacilityId").data('kendoMultiSelect').dataSource.view()[0];
            allFacility = $.map($("#selFacilityId").data('kendoMultiSelect').dataSource.data(), function (dataItem) {
                return dataItem.FacilityKey;
            });
            $("#HFacilityvalue").val(allFacility);
        }

        if ($('#selRoutingId').val()==0 && $("#HRoutingvalue").val()==""){
            var allRouting = "";
            $("#HInProgressByFacilities").val("12");
            var dataItem = $("#selRoutingId").data('kendoMultiSelect').dataSource.view()[0];
            allRouting = $.map($("#selRoutingId").data('kendoMultiSelect').dataSource.data(), function (dataItem) {
                return dataItem.ChartRoutingKey;
            });
            $("#HRoutingvalue").val(allRouting);
        }

        if ($('#selChartTypeId').val()==0 && $("#HChartTypevalue").val()==""){
            var allChartType = "";
            $("#HInProgressByFacilities").val("123");
            var dataItem = $("#selChartTypeId").data('kendoMultiSelect').dataSource.view()[0];
            allChartType = $.map($("#selChartTypeId").data('kendoMultiSelect').dataSource.data(), function (dataItem) {
                return dataItem.ChartTypeKey;
            });
            $("#HChartTypevalue").val(allChartType);
        }

        if ($('#selAssigneeId').val()==0 && $("#HAssigneeValue").val()==""){
            var allAssignee = "";
            var dataItem = $("#selAssigneeId").data('kendoMultiSelect').dataSource.view()[0];
            allAssignee = $.map($("#selAssigneeId").data('kendoMultiSelect').dataSource.data(), function (dataItem) {
                return dataItem.AppUserKey;
            });
            $("#HAssigneeValue").val(allAssignee);
        }

        if ($('#selCoderId').val()==0 && $("#HCoderValue").val()==""){
            var allCoder = "";
            var dataItem = $("#selCoderId").data('kendoMultiSelect').dataSource.view()[0];
            allCoder = $.map($("#selCoderId").data('kendoMultiSelect').dataSource.data(), function (dataItem) {
                return dataItem.Personnal_ID;
            });
            $("#HCoderValue").val(allCoder);
        }

          }

          function DeselectFacilityItem(e)
          {
              var value=  e.dataItem.FacilityKey;
              var arr=[];
              if($('#HFacilityvalue').val()!="")
              {
                  var szval=$('#HFacilityvalue').val()
                  arr=szval.split(",");
                  for(i=0;i<arr.length;i++)
                  {
                      if(arr[i]==value)
                          arr.splice(i, 1);
                  }

                  $("#HFacilityvalue").val(arr);
              }
          }

          function OnchangeRouting(e)
          {

             // $('#HRoutingvalue').val("");


          }


          function DeselectRoutingItem(e)
          {
              var value=  e.dataItem.ChartRoutingKey
              var arr=[];
              if($('#HRoutingvalue').val()!="")
              {
                  var szval=$('#HRoutingvalue').val()
                  arr=szval.split(",");
                  var index = arr.indexOf(value);
                  for(i=0;i<arr.length;i++)
                  {
                      if(arr[i]==value)
                          arr.splice(i, 1);
                  }
                  $("#HRoutingvalue").val(arr);
              }
          }

          function DeselectChartItem(e)
          {
              var value=  e.dataItem.ChartTypeKey
              var arr=[];
              if($('#HChartTypevalue').val()!="")
              {
                  var szval=$('#HChartTypevalue').val()
                  arr=szval.split(",");
                  var index = arr.indexOf(value);
                  for(i=0;i<arr.length;i++)
                  {
                      if(arr[i]==value)
                          arr.splice(i, 1);
                  }
                  $("#HChartTypevalue").val(arr);
              }
          }

          function DeselectAssigneeItem(e)
          {
              var value=  e.dataItem.AppUserKey
              var arr=[];
              if($('#HAssigneeValue').val()!="")
              {
                  var szval=$('#HAssigneeValue').val()
                  arr=szval.split(",");
                  var index = arr.indexOf(value);
                  for(i=0;i<arr.length;i++)
                  {
                      if(arr[i]==value)
                          arr.splice(i, 1);
                  }
                  $("#HAssigneeValue").val(arr);
              }
          }

          function DeselectCoderItem(e)
          {
              var value=  e.dataItem.Personnal_ID
              var arr=[];
              if($('#HCoderValue').val()!="")
              {
                  var szval=$('#HCoderValue').val()
                  arr=szval.split(",");
                  var index = arr.indexOf(value);
                  for(i=0;i<arr.length;i++)
                  {
                      if(arr[i]==value)
                          arr.splice(i, 1);
                  }
                  $("#HCoderValue").val(arr);
              }
          }






            function fnViewReport2()
          {


                fnGetAllDataOnload();

                var facilityvalues = $("#HFacilityvalue").val();
                var Routingvalues = $("#HRoutingvalue").val();
                var charttype = $("#HChartTypevalue").val();
                var Assignee = $("#HAssigneeValue").val();
                var Coder = $("#HCoderValue").val();

                var ArrayFacilityvalues = facilityvalues.split(",");
                var ArrayRoutingvalues = Routingvalues.split(",");
                var Arraycharttypevalues = charttype.split(",");
                var ArrayAssigneevalues = Assignee.split(",");
                var ArrayCodervalues = Coder.split(",");

                var viewer = $("#reportViewer1").data("telerik_ReportViewer");



                var sznull="";
                var szzero="0";

                ArrayFacilityvalues = ArrayFacilityvalues.filter(function(item) {
                    return item !==sznull //&& item !==szzero
                })
                ArrayFacilityvalues = ArrayFacilityvalues.filter(function(item) {
                    return item !==szzero
                })


                ArrayRoutingvalues = ArrayRoutingvalues.filter(function(item) {
                    return item !==sznull
                })
                ArrayRoutingvalues = ArrayRoutingvalues.filter(function(item) {
                    return item !==szzero
                })


                Arraycharttypevalues = Arraycharttypevalues.filter(function(item) {
                    return item !==sznull
                })
                Arraycharttypevalues = Arraycharttypevalues.filter(function(item) {
                    return item !==szzero
                })

                ArrayCodervalues = ArrayCodervalues.filter(function(item) {
                    return item !==sznull
                })
                ArrayCodervalues = ArrayCodervalues.filter(function(item) {
                    return item !==szzero
                })

                ArrayAssigneevalues = ArrayAssigneevalues.filter(function(item) {
                    return item !==szzero
                })
                ArrayAssigneevalues = ArrayAssigneevalues.filter(function(item) {
                    return item !==sznull
                })




                if ($("#InputDateStale").is(":visible"))
                {
                    if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "" && $("#InputDateStale").val() != "") {

                        viewer.reportSource({
                            report: viewer.reportSource().report,
                            parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'DateStale': $("#InputDateStale").val(), 'UserId': @ViewBag.userid }
                        });
                    }
                    else{alert("Invalid input values. Please provide valid inputs.")}
                }
                else
                    if ($("#InputIsDaysOld").is(":visible"))
                    {
                        if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "" && $("#InputIsDaysOld").val() != "") {

                            viewer.reportSource({
                                report: viewer.reportSource().report,
                                parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'IsDaysOld': $("#InputIsDaysOld").val(), 'UserId': @ViewBag.userid }
                            });
                        }
                        else
                        { alert("Invalid input values. Please provide valid inputs.") }
                    }

                    else
                        if ($("#InputLastDays").is(":visible"))
                        {
                            debugger;
                            if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "" && $("#InputLastDays").val() != "" && ArrayAssigneevalues[0] != "") {
                                if($("#HflagInsertVsComplete").val()>0)
                                {
                                    viewer.reportSource({
                                        report: viewer.reportSource().report,
                                        parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'LastDays': $("#InputLastDays").val(), 'Assignee': ArrayAssigneevalues, 'UserId': @ViewBag.userid,'flag': 1 }
                                    });
                                }
                                else{
                                    viewer.reportSource({
                                        report: viewer.reportSource().report,
                                        parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'LastDays': $("#InputLastDays").val(), 'Assignee': ArrayAssigneevalues, 'UserId': @ViewBag.userid,'flag': 0 }
                                    });
                                }
                            }
                            else { alert("Invalid input values. Please provide valid inputs.") }
                        }
                        else
                            if ($("#AssigneeTd").is(":visible"))
                            {

                                if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "" && ArrayAssigneevalues[0] != "") {

                                    viewer.reportSource({
                                        report: viewer.reportSource().report,
                                        parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'Assignee': ArrayAssigneevalues, 'UserId': @ViewBag.userid }
                                    });
                                }
                                else { alert("Invalid input values. Please provide valid inputs.") }
                            }
                            else
                                if ($("#CoderTd").is(":visible"))
                                {

                                    if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "" && ArrayAssigneevalues[0] != "" && ArrayCodervalues[0]!="") {
                                        //viewer.refreshReport();
                                        viewer.reportSource({
                                            report: viewer.reportSource().report,
                                            parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'Assignee': ArrayAssigneevalues, 'Coder': ArrayCodervalues, 'UserId': @ViewBag.userid }
                                        });
                                    }
                                    else { alert("Invalid input values. Please provide valid inputs.") }
                                }
                                else
                                    if ($("#InputTopNFacility").is(":visible"))
                                    {
                                        debugger;
                                        if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "")
                                        {
                                            if($("HInProgressByFacilities").val()=="123")
                                            {
                                                viewer.reportSource({
                                                    report: viewer.reportSource().report,
                                                    parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues,'UserId': @ViewBag.userid,'TopRecords':$("#InputTopNFacility").val(),'flag':0}
                                                });
                                            }
                                            else
                                            {
                                                viewer.reportSource({
                                                    report: viewer.reportSource().report,
                                                    parameters: { 'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues,'UserId': @ViewBag.userid,'TopRecords':$("#InputTopNFacility").val(),'flag':1}
                                                });
                                            }
                                        }
                                        else { alert("Invalid input values. Please provide valid inputs.") }
                                    }
                                    else
                                    {
                                    if (ArrayFacilityvalues[0] != "" && ArrayRoutingvalues[0] != "" && Arraycharttypevalues[0] != "")
                                    {
                                        viewer.reportSource({

                                            report: viewer.reportSource().report,
                                            parameters: {'FacilityName': ArrayFacilityvalues, 'RoutingType': ArrayRoutingvalues, 'ChartType': Arraycharttypevalues, 'UserId':@ViewBag.userid}
                                        });

                                    }
                                    else {alert("Invalid input values. Please provide valid inputs.")}
                                }



            }


</script>
   
    </div>
