﻿

@using Telerik.Reporting


@{
    ViewBag.Title = "Telerik HTML5 Report Viewer MVC Demo";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Telerik MVC HTML5 Report Viewer</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />  
    <script type="text/javascript">
        $(document).ready(function () {
            $("#user").bind("click", function () {
                var window = $("#userwindow").data("kendoWindow");
                window.center();
                window.open();
            });
        });

    </script>
</head>
<body>
    <table border="1"  width="100%" height="100%">
        <tr>
            <td>
                <table border="1" width="100%" height="100%">
                    <tr><td>Click below Report to View </td></tr>
                    <tr>
                        <td>
                            @Html.ActionLink("CRRReportFailure", "MVCReportView1", "Home", null, new { target = "_blank", width = "400px", height = "400px" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("ReadyForReporting", "ReportViewerView1", "Home", null, null)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("InsertedvsCompleted", "ReportViewerView2", "Home", null, null)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("InProgressByStatus", "ReportViewerView3", "Home", null, null)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("OldProgressCharts", "ReportViewerView4", "Home", null, null)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("StaleInprogressCharts", "ReportViewerView5", "Home", null, null)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("WorkLoadByuser", "ReportViewerView6", "Home", null, null)
                        </td>
                    </tr>
                </table>
            </td>
           
        </tr>
    </table>
     
</body>
</html>

