@model TelerikMvcApp1.Models.Config
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")

@using TelerikMvcApp1
@using Telerik.Reporting
@using Telerik.ReportViewer.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CRRReportFailure</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script src="~/Scripts/jquery.min.js"></script>

    <link href="~/Content/kendo/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />

    <link href="~/ReportViewer/styles/telerikReportViewer.css" rel="stylesheet" />
    <link href="~/ReportViewer/styles/kendo.common.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.combobox.min.js"></script>
    <script src="~/ReportViewer/js/telerikReportViewer-11.1.17.503.js"></script>
    <script src="~/ReportViewer/js/telerikReportViewer.kendo-11.1.17.503.min.js"></script>

    <script src="~/Scripts/kendo/kendo.dropdownlist.min.js"></script>
    
</head>


<body>
 
    <div>
   @Html.Partial("_CustomizedReport")
      
    </div>
    <div>
        @{
            var typeReportSource = new TypeReportSource() { TypeName = "ReportsLibrary.ThemisReports.CRRReportFailure, ReportsLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" };
            typeReportSource.Parameters.Add("UserId", ViewBag.userid);
        }

        @(Html.TelerikReporting().ReportViewer()
        .Id("reportViewer1")
        .ServiceUrl(Url.Content("~/api/reports"))
        .ReportSource(typeReportSource)
        .ViewMode(ViewMode.Interactive)
        .ScaleMode(ScaleMode.Specific)
        .TemplateUrl(Url.Content("~/ReportViewer/templates/telerikReportViewerTemplate.html"))
        .Scale(1.0)
        .PersistSession(false)
        .PrintMode(PrintMode.AutoSelect)
        .ParametersAreaVisible(false)
        )
        
    </div>
     @Html.ActionLink("To Go Back", "Api", "Home", new { id = ViewBag.userid }, null)
    <script>
    $(function () {
    var reportViewer = $("#reportViewer1").data("telerik_ReportViewer");
       // reportViewer.refreshReport();
    });
    </script>
   
</body>
</html>